/*
 * $pluginname - by $author
 * $website
 *
 * powered by Kickstarter
 */

package $package

$typeListener
$listenerimports
$mainclassimport

public class $classname implements $superclass {
	private $mainclasstype plugin;

	public $classname($mainclasstype plugin){
		this.plugin = plugin;
		plugin.getServer().getPluginManager().registerEvents(this, plugin);
	}

$listeners
}
