/*
 * $pluginname - by $author
 * $website
 *
 * powered by Kickstarter
 */

package $package

import org.bukkit.event.entity.$typeListener;
$listenerimports
$mainclassimport

public class $classname extends EntityListener {
	private $mainclasstype plugin;

	public $classname($mainclasstype plugin){
		this.plugin = plugin;
	}

$listeners
}
