/*
 * $pluginname - by $author
 * $website
 *
 * powered by PluginKickstarter
 */
 
 $package
 
 $imports
 
 public class $classname extends Runnable{
 	
 	@Override
 	public void run(){
 		$run
 	}
 }