/*
 * $pluginname - by $author
 * $website
 *
 * powered by Kickstarter
 */
 
 $package
 
 $mainclassimport
 
 public class $classname extends Runnable{
 	private $mainclasstype plugin;

	public $classname($mainclasstype plugin){
		this.plugin = plugin;
	}
 	
 	@Override
 	public void run(){
 		// TODO: implement task
 	}
 }